@import 'utf-8';
/* * Halaman index */
h2.d-mahasiswa {
   text-align: center;
   text-transform: uppercase;
   font-family: sans-serif;
   background-color: blue;
}
.btn {
   display: block;
   margin: auto;
   margin-top: 20px;
   background-color: dodgerblue ;
   padding: 5px;
   font-size: 18px;
   font-weight: bold;
   border-radius: 20px;
}
.table {
   margin: auto;
   margin-top: 20px;
   border-color: darkorchid;
}
.h-table {
   background-color: dodgerblue;
}
/* * tutup halaman index */

/* * Halaman Tambah */
.form-list {
   display: flex;
   justify-content: center;
}
form {
   border : 3px solid;
   border-color:  darkorchid ;
   font-family: sans-serif;
}
ul li {
   list-style: none;
   margin: 10px;
   margin-left: 0px;
   font-weight: bold;
   font-size: 18px;
   display: flex;
   justify-content: space-between;
}
/* * Tutup halaman tambah */
